<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/monokai.css">
	<link href="/articles/rss.xml" rel="alternate" type="application/rss+xml" title="Tutorials and News around Codeigniter" />

	<title>Tutorial Codeigniter - Blog</title>
	<script type="text/javascript" src='/js/jquery.min.js'></script>
	<script type="text/javascript" src='/js/hibar.min.js'></script>
	<script type="text/javascript" src='/js/jquery.masonry.min.js'></script>
	<script type="text/javascript" src='/js/jquery.imagesloaded.min.js'></script>
	<script type="text/javascript" src='/js/highlight.pack.js'></script>
	<script type="text/javascript">

		hljs.initHighlightingOnLoad();

		var posts = $('#posts');
		posts.imagesloaded(function() {
			$('#posts').masonry({ itemSelector : '.post' });;
		});

	</script>

</head>
<body>

	<div id='layout'>

		<div id='heading'>
			<div id='logo'><a href='/'>Tutorial Codeigniter<sup style='font-size:20px;'>&reg;</sup></a>: <a href='/articles' id='logo_docs'>Articles</a></div>
			<div id='links'>
				<a href='/beginners' >Beginners Guide</a> | 
				<a href='/articles' >Articles</a>
			</div>
			<div style='clear: both'></div>
		</div>

		<div id='content'>

			<div id='posts'>
				{% for post in site.categories.articles %}
						
					<div class='post'>
							<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>
							<div class='post-date'>{{ post.date | date: "%B %d, %Y"}}</div>
							{% if post.image %}
								<img class='post-image' src="{{post.image}}" />
							{% endif %}
							<div class='post-content'>{{post.summery}}</div>
					</div>

				{% endfor %}
			</div>

			<div style='clear:both'></div>

		</div>

		<div id='footer'>
			Learn It Correct - 2012<br>
			CodeIgniter&reg; is a registered trademark of <a href='http://ellislab.com/'>EllisLab</a>, Inc.<br> This web site is an independent publication and has not been authorized, sponsored, or otherwise approved by EllisLab, Inc.
		</div>

	</div>

	<!-- START GA CODE -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33085517-1']);
	  _gaq.push(['_setDomainName', 'tutorialcodeigniter.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<!-- END GA CODE -->

	<!-- START HIBAR CODE -->
	<script type="text/javascript">
		
		$(function() {

			var b = new HiBar('twitter');
			var options = {
				"open-text": 'HELLO'
			};

			b.init("wanna discover more articles like this?", "follow us on twitter", "https://twitter.com/tutscodeigniter", options);
		});
	</script>
	<!-- END HIBAR CODE -->

</body>
</html>